# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
*.local

# Astro
.astro

# Cache
.cache
.parcel-cache

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
logs

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
